* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
}

html {
  font-size: 100px;
  background-color: #ccc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
